{% extends "cardLayout.njk" %}

{% block content %}
    <div class="card">
        <div class="imageContainer">
                {#  Image goes here by CSS #}    
        </div>
        <div class="dataContainer">
            <form method="POST" action="/students/edit/?_method=PUT">
                <div class="sectionName">
                    <h2> Edit student data </h2>
                </div>
                {% include "students/fields.njk" %}
                <div class="buttonContainer">
                    <button type="submit"> Save new data </button>
                    <button 
                        type="submit" 
                        id="deleteButton" 
                        value="Delete student"
                        form="deleteForm"
                    > Delete student </button>
                </div>
                <input 
                    type="hidden" 
                    name="id"
                    value="{{ student.id }}" 
                />
                <input 
                    type="hidden" 
                    id="avatar_url"
                    value="{{ student.avatar_url }}" 
                />
            </form>
            <form method="POST" id="deleteForm" action="/students/edit/?_method=DELETE">
                <input 
                    type="hidden" 
                    name="id"
                    value="{{ student.id }}" 
                />
            </form>
        </div>
    </div>
    <script src="/scripts/showImage.js"></script>
    <script src="/scripts/deleteConfirmation.js"></script>
{% endblock content %}