@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-theme: rgb(31, 7, 34);
    --color-links: rgb(75, 112, 146); 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--color-theme);
    font-family: 'Roboto', sans-serif;
    color: white;
}

.links {
    background-color: rgba(7, 1, 1, 0.596);
    padding: 30px;
    text-align: center;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
}

.links a:hover {
    color: var(--color-links);
    transition: color 400ms;
}

.logoContainer {
    width: 50%;
    margin: 50px auto;
}

.logoContainer img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}



/* ==== About page ===== */

.description {
    margin-top: 20px;
    text-align: center;
}

.description h1 {
    margin: 10px 0;
}

.description img {
    height: 200px;
    margin: 15px 0;
    border-radius: 8px;
}

.description p {
    width: 40%;
    margin: 0 auto 20px;
    font-size: 18px;
}

.description ul {
    width: 10%;
    margin: 0 auto 20px;
    font-size: 18px;
}

.description ul li {
   list-style-type: disc;
   text-align: justify;
}

footer.links {  
    background: none;
}

footer.links a {
    padding-bottom: 2px;
    border-bottom: solid 2px var(--color-links);
    font-size: 18px;
}


/* ==== Courses ====*/

h2 {
    margin-top: 30px;
    text-align: center;
}

.coursesContainer {
    margin: 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    padding: 20px;
}

.course {
    background-color: rgb(37, 33, 47);
    margin: 20px 0;
    padding: 50px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: 2px solid rgb(37, 33, 47);
    transition:  600ms;
    cursor: pointer;
}

.course img {
    margin-bottom: 50px;
    height: 30%;
}

.course h3 {
    height: 120px;
    padding: 10px;
}

.course ul.courseInformation {
    list-style-type: none;
    background-color: rgb(200, 195, 195, 0.2);
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course ul.courseInformation li {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}

.course ul.courseInformation li:nth-of-type(1) {
    border-bottom: 2px solid rgb(136, 68, 136);
}

.free {
    color: rgb(79, 141, 79);
    font-weight: bold;
}

.paid {
    color: rgb(228, 228, 99);
    font-weight: bold;
}

#starter:hover {
    border: 2px solid rgb(100, 100, 200);
    background-color: rgb(100, 100, 200, 0.3);
}

#launchBase:hover {
    border: 2px solid rgb(200, 157, 100);
    background-color: rgb(200, 157, 100, 0.3);
}

#goStack:hover {
    border: 2px solid rgb(108, 200, 100);
    background-color: rgb(108, 200, 100, 0.3);
}

/* ==== MODAL==== */
.modalOverlay {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 2, 20, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeModal {
    color: red;
    position: absolute;
    top: 2%;
    right: 2%;
}

.modal {
    position: relative;
    width: 80%;
    height: 70%;
    background-color: rgb(200, 200, 200);
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalOverlay .modal iframe {
    width: 100%;
    height: 90%;
    border-radius: 8px;
}

