@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

    margin: 0;

    padding: 0;

    border: 0;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

}

:root {

    --main-color: rgb(31, 174, 230);

}

body {

    background-color: var(--main-color);

}

header {

    background-color:white;

    padding: 30px;

    display: flex;

    justify-content: center;

    align-items: center;

}

header a {

    text-decoration: none;

    color: var(--main-color);
    
    font-size: 22px;

    position: relative;

}

header a::after {

    content: "";

    bottom: -2px;

    left: 0;

    background-color: var(--main-color);

    width: 0;

    height: 2.4px;

    position: absolute;

    transition: width 500ms;

}

header a:hover::after {

    width: 100%;

}

header a + a {

    margin-left: 30px;

}

