{% extends "cardLayout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/teachers/create">
        <div class="imageContainer">
            {#  Image goes here by CSS #}    
        </div>
        <div class="dataContainer">
            <div class="name">
                <div class="title"> 
                    <span> Teacher name </span> 
                </div>
                <div class="data">
                    <input 
                        name="name" 
                        type="text" 
                        placeholder="Type the name of the teacher" 
                    />
                </div>
            </div>
            <div class="birth">
                <div class="title"> 
                    <span> Birth date: </span> 
                </div>
                <div class="data">
                    <input type="date" name="birth"/> 
                </div>
            </div>
            <div class="avatar_url">
                <div class="title">
                    <span> URL to the teacher avatar </span>
                </div>
                <div class="data">
                    <input 
                        type="url" 
                        name="avatar_url" 
                        placeholder="Type the URL here..." 
                    />
                </div>
            </div>
            <div class="studyLevel">
                <div class="title"> 
                    <span> Level of studies </span> 
                </div>
                <div class="data">
                    <select name="studyLevel">
                        <option disabled selected> Choose an option </option>
                        <option value="highSchool"> High School </option>
                        <option value="undergraduate"> Undergraduate </option>
                        <option value="master"> Master </option>
                        <option value="doctorate"> Doctorate </option>
                    </select>
                </div>
            </div>
            <div class="classType">
                <div class="title"> 
                    <span> Type of classes </span> 
                </div>
                <div class="data">
                    <span class="classroom">
                        <div>
                            <input 
                            type="radio" 
                            name="classType" 
                            value="face-to-face" 
                            checked
                        /> Classroom course
                        </div> 
                    </span>
                    <span class="online">
                        <div class="">
                            <input type="radio" name="classType" value="online" /> Online course
                        </div>
                    </span>
                </div>
            </div>
            <div class="subjects">
                <div class="title">        
                    <span> Subjects </span> 
                </div>
                <div class="data">
                    <input 
                        type="text" 
                        name="subjects" 
                        placeholder="Type here the subjects and separate them by comma"
                    />
                </div>
            </div>
            <div class="buttonContainer">
                <button type="submit"> Submit </button>
            </div>
        </div>
    </form>
{% endblock content %}
