{% extends "cardLayout.njk" %}

{% block content %}
    <div class="card">
        <div class="imageContainer">
                {#  Image goes here by CSS #}    
        </div>
        <div class="dataContainer">
            <form method="POST" action="/teachers/edit/?_method=PUT">
                <div class="sectionName">
                    <h2> Edit teacher data </h2>
                </div>
                {% include "teachers/fields.njk" %}
                <input 
                    type="hidden" 
                    name="id"
                    value="{{ teacher.id }}" 
                />
            </form>
            <form method="POST" action="/teachers/edit/?_method=DELETE">
                <input 
                    type="hidden" 
                    name="id"
                    value="{{ teacher.id }}" 
                />
                <input id="deleteButton" type="submit" value="Delete teacher" />
            </form>
        </div>
    </div>
{% endblock content %}