{% extends "cardLayout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/teachers/edit/?_method=PUT">
        <div class="imageContainer">
            {#  Image goes here by CSS #}    
        </div>
        <div class="dataContainer">
            <div class="sectionName">
                <h2> Edit teacher data </h2>
            </div>
            {% include "teachers/fields.njk" %}
        </div>
        <input 
            type="hidden" 
            name="id"
            value="{{ teacher.id }}" 
        />
    </form>
{% endblock content %}