{% extends "layout.njk" %}

{% block title %}
    <title> Courses </title>
{% endblock title %}

{% block links %}
    <a href="/about">About</a>
{% endblock links %}

{% block content %}
    <h2> These are the available courses from Rocketseat </h2>

    <div class="coursesContainer">
        {% for courseData in data %}
            <div class="course" id="{{courseData.courseId}}">
                <img 
                    src="{{courseData.imgSrc}}" 
                    alt="{{courseData.altText}}" 
                />

                <h3>{{ courseData.descriptionTitle }}</h3>

                <ul class="courseInformation">
                    <li> <span>{{ courseData.specifications.modules }} modules</span> </li>
                    <li> <span class="{{ courseData.specifications.spanClass }}">{{ courseData.specifications.price }}</span> </li>
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="modalOverlay notDisplay">
        <div class="modal">
            <span id="disMaximizeModal" class="material-icons" title="Reduce size">select_all</span>
            <span id="maximizeModal" class="material-icons" title="Increase size">aspect_ratio</span>
            <span id="closeModal" class="material-icons" title="Close">cancel</span>
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>

    <script src="scriptForCourses.js"></script>
{% endblock content %}