<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/styles/landing.css" />

        <title>Landing</title>

    </head>
    
    <body>
    
        <header>

            <a href="#"> Teachers </a>

            <a href="#"> Students </a>
            
        </header>

        <div class="card">

            <div class="imageContainer">

                {#  Image goes here by CSS #}
               
            </div>

            <div class="dataContainer">

                <div class="name">

                    <div class="title"> 

                        <span> Teacher name </span> 

                    </div>

                    <div class="data">

                        <span> Teacher name </span>

                    </div>

                </div>

                <div class="age">

                    <div class="title"> 
                        
                        <span> Teacher age </span> 

                    </div>

                    <div class="data">

                        <span> Age </span>

                    </div>

                </div>

                <div class="studyLevel">

                    <div class="title"> 
                        
                        <span> Level of studies </span> 

                    </div>

                    <div class="data">

                        <span> Level </span>

                    </div>

                </div>

                <div class="classType">

                    <div class="title"> 
                        
                        <span> Type of classes </span> 

                    </div>

                    <div class="data">

                        <span> Online </span>

                        <span> Traditional classes </span>

                    </div>

                </div>

                <div class="subjects">

                    <div class="title"> 
                        
                        <span> Subjects </span> 

                    </div>

                    <div class="data">

                        <span> Math </span>

                        <span> Physics </span>

                    </div>

                </div>

                <div class="since">

                    <div class="title"> 
                        
                        <span> Since </span> 

                    </div>

                    <div class="data">

                        <span> 01/01/2000 </span>

                    </div>

                </div>

            </div>

        </div>
    
    </body>

</html>