<div class="name">
    <div class="title"> 
        <span> Student name </span> 
    </div>
    <div class="data">
        <input 
            name="name" 
            type="text" 
            placeholder="Type the name of the student"
            value="{{ student.name }}"
        />
    </div>
</div>
<div class="birth">
    <div class="title"> 
        <span> Birth date: </span> 
    </div>
    <div class="data">
        <input 
            type="date" 
            name="birth"
            value="{{ student.birth }}"
        /> 
    </div>
</div>
<div class="email">
    <div class="title"> 
        <span> Email: </span> 
    </div>
    <div class="data">
        <input 
            type="email" 
            name="email"
            value="{{ student.email }}"
        /> 
    </div>
</div>
<div class="schoolYear">
    <div class="title"> 
        <span> School year: </span> 
    </div>
    <div class="data">
        <select name="schoolYear">
            <option value="" disabled selected> Fundamental </option>
            <option value="5th-year"> 5th year </option>
            <option value="6th-year"> 6th year </option>
            <option value="7th-year"> 7th year </option>
            <option value="8th-year"> 8th year </option>
            <option value="9th-year"> 9th year </option>
            <option value="" disabled> High School </option>
            <option value="1st-year-highSchool"> 1st year </option>
            <option value="2nd-year-highSchool"> 2nd year </option>
            <option value="3rd-year-highSchool"> 3rd year </option>
        </select>
    </div>
</div>
<div class="weekHours">
    <div class="title">
        <span> Week hours </span>
    </div>
    <div class="data">
        <input 
            type="number" 
            name="weekHours"
            min="0" 
            placeholder="Type the number of hours (positive number)..."
            value="{{ student.weekHours }}"
        />
    </div>
</div>
<div class="avatar_url">
    <div class="title">
        <span> URL to the student avatar </span>
    </div>
    <div class="data">
        <input 
            type="url" 
            name="avatar_url" 
            placeholder="Type the URL here..."
            value="{{ student.avatar_url }}"
        />
    </div>
</div>
 