{% extends "cardLayout.njk" %}

{% block content %}
    <div class="card">
        <div class="imageContainer" style="background: url( {{ student.avatar_url }} ) no-repeat center center / cover">
            {#  Image goes here by CSS #}
        </div>
        <div class="dataContainer">
            <div class="name">
                <div class="title"> 
                    <span> Student name </span> 
                </div>
                <div class="data">
                    <span> {{ student.name }} </span>
                </div>
            </div>
            <div class="age">
                <div class="title"> 
                    <span> Student age </span> 
                </div>
                <div class="data">
                    <span> {{ student.age }} </span>
                </div>
            </div>
            <div class="email">
                <div class="title"> 
                    <span> Student email </span> 
                </div>
                <div class="data">
                    <span> {{ student.email }} </span>
                </div>
            </div>
            <div class="schoolYear">
                <div class="title"> 
                    <span> Student School Year </span> 
                </div>
                <div class="data">
                    <span> {{ student.schoolYear }} </span>
                </div>
            </div>
            <div class="weekHours">
                <div class="title"> 
                    <span> Student Week Hours </span> 
                </div>
                <div class="data">
                    <span> {{ student.weekHours }} </span>
                </div>
            </div>
            <div class="since">
                <div class="title"> 
                    <span> Since </span> 
                </div>
                <div class="data">
                    <span> {{ student.since }} </span>
                </div>
            </div>
            <div class="buttonContainer">
                <a href="/students/{{ student.id }}/edit"> Edit instructor data </a>
            </div>
        </div>
    </div>
{% endblock content %}