<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/landing.css" />
        <title>
            {% block pageTitle %}
            {% endblock pageTitle %}
        </title>
    </head> 
    <body>  
        <header>
            <a href="/teachers"> Teachers </a>
            <a href="/students"> Students </a>
        </header>
        {% block content %}
        {% endblock content %}
        <script src="/scripts/activeMenu.js"></script>
    </body>
</html>