<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        
        <link rel="shortcut icon" href="favicon_io/favicon.ico" type="image/x-icon">
        
        <link rel="icon" href="favicon_io/favicon.ico" type="image/x-icon">

        <!-- CSS -->
        <link rel="stylesheet" href="style.css" />
        
        <!-- Icons -->
        <link 
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet" 
        />

        {% block title %}
            <title> Rocketseat </title>
        {% endblock title %}

        <!-- CSS -->
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        {% block header %}
            <header class="links">
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank"> Community </a>

                <a href="mailto:oi@rocketseat.com.br">Email</a>
                
                <a href="tel:+5547992078767">Phone</a> 
                
                {% block links %}
                    <a href="/about">About</a>
                {% endblock links %}
            </header> 
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
            <footer class="links">
                <a href="https://github.com/Rocketseat" target="_blank"> GitHub </a>
                <a href="https://www.instagram.com/rocketseat_oficial/?hl=en" target="_blank"> Instagram </a>
                <a href="https://www.facebook.com/rocketseat/" target="_blank"> Facebook </a>
            </footer>
        {% endblock footer %}
    </body>
</html>