{% extends "layout.njk" %}

{% block title %}
        <title> Hmmm... not found... </title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
        <p class="notFound"> 
            Hmm, page not found... Click 
            <a href="/">here</a> 
            in order to return to the home 
            page.
        </p>
{% endblock content %}