{% extends "cardLayout.njk" %}

{% block pageTitle %}
    Landing
{% endblock pageTitle %}

{% block content %}
    <a class="addProfile" href="/teachers/create">
        + New teacher
    </a>
    <div class="card tableContainer">
        <table>
            <thead>
                <tr>
                    <th> Full Name </th>
                    <th> Services </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr> 
                        <td>
                            <span
                                style="background-image: url({{ teacher.avatar_url }})"
                            >
                            </span>
                            {{ teacher.name }} 
                        </td> 
                        <td class="subjects">
                            {% for subject in teacher.subjects %}
                                <span class="data"> {{ subject }} </span>
                            {% endfor %}        
                        </td> 
                        <td> 
                            <a href="/teachers/{{ teacher.id }}/show"> Show </a>  
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
