@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

    margin: 0;

    padding: 0;

    border: 0;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

}

:root {

    --main-color: rgb(31, 174, 230);
    --titles-color: rgb(110, 82, 82);
    --main-hover-color: aquamarine;
    --card-border-radius: 18px;

}

body {

    background-color: var(--main-color);

}

header {

    background-color:white;

    padding: 30px;

    display: flex;

    justify-content: center;

    align-items: center;

}

header a {
    text-decoration: none;
    font-size: 22px;
    position: relative;
    color: gray;
    transition: color 300ms;
}

header a.active,
header a:hover {
    color: var(--main-color);
}

header a::after {

    content: "";

    bottom: -2px;

    left: 0;

    background-color: var(--main-color);

    width: 0;

    height: 2.4px;

    position: absolute;

    transition: width 500ms;

}

header a:hover::after {

    width: 100%;

}

header a + a {

    margin-left: 30px;

}

/* ==== Card ==== */

.card {

    background-color: white;

    margin: 20px auto;

    width: 800px;

    display: grid;

    grid-template-columns: 40% 60%;
    
    border-radius: var(--card-border-radius);

    box-shadow: greenyellow 0px 5px 20px;

    opacity: 0;

    animation-name: appearing;

    animation-duration: 1s;

    animation-fill-mode: forwards;

}

.card .imageContainer {
    
    border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);

    background: url("https://source.unsplash.com/collection/9564215") no-repeat center center / cover;

}

.card .dataContainer {
    padding: 30px;
}

.card .dataContainer .sectionName h2 {
    text-align: center;
    font-size: 22px;
    color: dimgrey;
}

.card .dataContainer div div:first-child  {

    border-top: 2px solid rgba(0, 255, 255, 0.3);

    margin: 2px 0;

}

.card .dataContainer .name div:first-child {

    border: none;

}

.card .dataContainer div div:nth-child(1) span {

    color: rgba(25, 65, 25, 0.5);

    font-size: 15px;

    line-height: 25px;

}

.card .dataContainer div div:nth-child(2) {

    margin-bottom: 5px;

}

.card .dataContainer .classType div:nth-child(2) span,
.card .dataContainer .subjects div:nth-child(2) span,
td.subjects .data {
    
    color: var(--titles-color);

    display: inline-block;

    border-radius: 16px;

    padding: 8px;

    letter-spacing: 1px;

    text-transform: uppercase;

    font-size: 14px;


}

.card .dataContainer .classType div:nth-child(2) span {

    background-color: rgb(102, 255, 0);
    margin-bottom: 5px;

}

.card .dataContainer .subjects div:nth-child(2) span,
td.subjects .data {

    background-color: rgb(42, 212, 212);
    margin-bottom: 5px;

}

/* ==== Inputs ==== */
.card .dataContainer input,
.card .dataContainer select {
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 15px;
    border-radius: 6px;
    transition: background-color 400ms;
}

.card .dataContainer input:focus {
    background-color: aquamarine;
}

.card .dataContainer .classType .data span.classroom,
.card .dataContainer .classType .data span.online {
    width: 40%;
} 

.card .dataContainer .classType .data span div {
    display: flex;
    align-items: center;
    border-top: none;
}

.card .dataContainer .buttonContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card .dataContainer .buttonContainer button,
.card .dataContainer .buttonContainer a {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    background-color: rgb(127, 209, 127);
    transition: background-color 400ms;
    text-decoration: none;
    color: black;
}

.card .dataContainer .buttonContainer a {
    display: block;
    text-align: center;
}



.card .dataContainer .buttonContainer button:hover,
.card .dataContainer .buttonContainer a:hover {
    background-color: var(--main-hover-color);
}

.card .dataContainer .buttonContainer button:active {
    background-color: rgb(43, 165, 83);
}

/* Table of teachers */
.card.tableContainer {
    display: block;
    padding: 40px;
    justify-content: center;
}

.card.tableContainer table {
    width: 100%;
}

.card.tableContainer table tbody tr {
    position: relative;
}

.card.tableContainer table thead th,
.card.tableContainer table tbody td {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid greenyellow;
}

.card.tableContainer table tbody tr td:first-child {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-content: center;
}

.card.tableContainer table tbody tr td:first-child span {
    width: 45px;
    height: 45px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 6px 3px greenyellow;
    border: 2px solid white;
}

.card.tableContainer table tbody tr:last-child td {
    border-bottom: none;
}

.card.tableContainer table tbody tr td a {
    text-decoration: none;
    background-color: greenyellow;
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
    transition: background-color 400ms;
}

.card.tableContainer table tbody tr td a:hover {
    background-color: var(--main-hover-color);
}

/* Delete button */
#deleteButton {
    background-color: rgb(241, 57, 57);
    color: white;
}

#deleteButton:hover {
    background-color: red;
}

/* ==== Animation ==== */
@keyframes appearing {

    from {

        transform: translateY(-25px);

    } to {

        opacity: 1;

    }

}
