@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

    margin: 0;

    padding: 0;

    border: 0;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

}

:root {

    --main-color: rgb(31, 174, 230);

    --titles-color: rgb(110, 82, 82);

    --card-border-radius: 18px;

}

body {

    background-color: var(--main-color);

}

header {

    background-color:white;

    padding: 30px;

    display: flex;

    justify-content: center;

    align-items: center;

}

header a {

    text-decoration: none;

    color: var(--main-color);
    
    font-size: 22px;

    position: relative;

}

header a::after {

    content: "";

    bottom: -2px;

    left: 0;

    background-color: var(--main-color);

    width: 0;

    height: 2.4px;

    position: absolute;

    transition: width 500ms;

}

header a:hover::after {

    width: 100%;

}

header a + a {

    margin-left: 30px;

}

/* ==== Card ==== */

.card {

    background-color: white;

    margin: 20px auto;

    width: 800px;

    display: grid;

    grid-template-columns: 40% 60%;
    
    border-radius: var(--card-border-radius);

    box-shadow: greenyellow 0px 5px 20px;

}

.card .imageContainer {
    
    border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);

    background: url("https://source.unsplash.com/collection/9564215") no-repeat center center / cover;

}

.card .dataContainer {

    padding: 30px;

}

.card .dataContainer div div:first-child  {

    border-top: 2px solid rgba(0, 255, 255, 0.3);

    margin: 2px 0;


}

.card .dataContainer .name div:first-child {

    border: none;

}

.card .dataContainer div div:nth-child(1) span {

    color: rgba(25, 65, 25, 0.5);

    font-size: 15px;

    line-height: 25px;

}

.card .dataContainer div div:nth-child(2) {

    margin-bottom: 5px;

}

.card .dataContainer .classType div:nth-child(2) span,
.card .dataContainer .subjects div:nth-child(2) span {
    
    color: var(--titles-color);

    display: inline-block;

    border-radius: 16px;

    padding: 8px;

    letter-spacing: 1px;

    text-transform: uppercase;

    font-size: 14px;


}

.card .dataContainer .classType div:nth-child(2) span {

    background-color: rgb(102, 255, 0);

}

.card .dataContainer .subjects div:nth-child(2) span {

    background-color: rgb(42, 212, 212);

}